@{
    ViewData["Title"] = "我的账号";
}
@model WBPlatform.TableObject.UserObject;

<div class="container">
    <div class="container row">
        <div class="col col-auto">
            <img id="UserHImg" src="#" width="64" height="64" alt="" />
        </div>
        <div class="col">
            <h5 id="UserID">@XConfig.Messages["LoadingData"]</h5>
            <h6>@XConfig.Messages["ViewMyUserData"]</h6>
        </div>
    </div>
    <hr />
    <div class="container">
        <label>@XConfig.Messages["UserName"]</label>@Model.UserName<br />
        <label>@XConfig.Messages["UserID"]</label>@Model.ObjectId<br />
        <label>@XConfig.Messages["RealName"]</label>@Model.RealName<br />
        <label>@XConfig.Messages["Sex"]</label>@(Model.Sex == "M" ? "男" : "女")<br />
        <label>@XConfig.Messages["PhoneNumber"]</label>@Model.PhoneNumber<br />
        <label>@XConfig.Messages["PasswordSet"]</label>@(string.IsNullOrEmpty(Model.Password) ? XConfig.Messages["NoWithCross"] : XConfig.Messages["YesWithTick"])<br />
        @if (string.IsNullOrEmpty(Model.Password))
        {
            <button class="btn btn-default btn-sm" onclick="jump(@(string.IsNullOrEmpty(Model.Password).ToString().ToLower()))">@XConfig.Messages["SetMyPassword"]</button> <br /><br />
            <script>
                function jump(isCreate) {
                    $.ajax({
                        url: location.protocol + "//" + location.host + "/api/users/Register?userId=@Model.ObjectId&mode=" + isCreate,
                        type: 'GET',
                        success: function (data2) {
                            if (data2.ErrCode == "0") {
                                location.href = "/Account/Register?token=" + data2.ErrMessage + "&user=@Model.UserName&_action=" + (isCreate ? "AddPassword" : "changePassword");
                            } else {
                                alert("请求出错，请刷新页面后重试.");
                            }
                        },
                        error: function (err) {
                            alert("请求出错，请刷新页面后重试.");
                        }
                    });
                }
            </script>
        }

        <label>@XConfig.Messages["UserPermissionSettings"]</label>
        <div class="container">
            <label>@XConfig.Messages["Parent"]</label>@(Model.UserGroup.IsParent ? XConfig.Messages["YesWithTick"] : XConfig.Messages["NoWithCross"])<br />
            <label>@XConfig.Messages["BusManager"]</label>@(Model.UserGroup.IsBusManager ? XConfig.Messages["YesWithTick"] : XConfig.Messages["NoWithCross"])<br />
            <label>@XConfig.Messages["ClassTeacher"]</label>@(Model.UserGroup.IsClassTeacher ? XConfig.Messages["YesWithTick"] : XConfig.Messages["NoWithCross"])<br />
            <label>@XConfig.Messages["Administrator"]</label>@(Model.UserGroup.IsAdmin ? XConfig.Messages["YesWithTick"] : XConfig.Messages["NoWithCross"])<br />
        </div>
    </div>
    <hr />
    <div id="techInfo" class="container">
        <label id="techBtnlabel">@XConfig.Messages["OtherOptions"]</label>
        <br />
        <button class="btn btn-warning btn-sm" onClick="location.href = '/Account/RequestChange'">@XConfig.Messages["RequestUCR"]</button>
        <button class="btn btn-success btn-sm" onClick="location.href = '/Manage/ChangeRequest?arg=my'">@XConfig.Messages["MyUCRList"]</button>

        <div hidden>
            <button id="showTechinfoBtn" class="btn btn-info btn-sm" onclick="showTechinfo();">@XConfig.Messages["ShowTechnicalInfo"]</button>
            <button id="hideTechinfoBtn" class="btn btn-info btn-sm" hidden onclick="hideTechinfo();">隐藏技术信息</button>
            <div id="innerTechInfo" hidden>
                <br />
                <label>@XConfig.Messages["TechnicalInfo"] </label><br />
                <label>UGIdentifier：</label>@Model.UserGroup.ToString()<br />
                <label>ChildList：</label>@Model.GetChildIdString(";")<br />
                <label>ClassList：</label>@Model.GetClassIdString(";")<br />
                <label>CreationTime：</label>@Model.CreatedAt<br />
                <label>ModifiedTime：</label>@Model.UpdatedAt<br />
            </div>
        </div>
        @if (Model.UserGroup.IsAdmin)
        {
            <br /> <br />
            <label>@XConfig.Messages["AdminOptions"]</label> <br />
            <button id="enterManageZone" type="button" class="btn btn-danger btn-sm" onclick="location.href = '/Manage/'">@XConfig.Messages["EnterManagementConsole"]</button>
        }
        <hr />
        <label>
            @XConfig.Messages["AdvancedOption"]&nbsp;&nbsp;
            <button class="btn btn-outline-danger btn-sm" onclick="removeLoginData();">@XConfig.Messages["RefreshUserData"]</button>
        </label>
    </div>
</div>
<script>
    {
        function removeLoginData() {
            delCookie("Session");
            location.href = location.href;
        }
        $("#UserID").text('@XConfig.Messages["HelloWithComma"]' + wbWeb.CurrentUser.RealName);
        $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + wbWeb.CurrentUser.HeadImagePath);
        function showTechinfo() {
            $("#innerTechInfo").removeAttr("hidden");
            $("#showTechinfoBtn").attr("hidden", "");
            $("#hideTechinfoBtn").removeAttr("hidden");
        }
        function hideTechinfo() {
            $("#innerTechInfo").attr("hidden", "");
            $("#showTechinfoBtn").removeAttr("hidden");
            $("#hideTechinfoBtn").attr("hidden", "");
        }
    }
</script>
