@{
    ViewData["Title"] = "校车管理";
}
<div class="container">
    <div class="container row">
        <div class="col col-auto">
            <img id="UserHImg" src="#" width="64" height="64" alt="" />
        </div>
        <div class="col">
            <h5 id="UserID">@XConfig.Messages["LoadingData"]</h5>
            <h6 id="BusDirection"></h6>
        </div>
    </div>
    <hr />
    <div class="container">
        <p id="ExpNumber">@Html.Raw(XConfig.Messages["TotalStudents"] + XConfig.Messages["LoadingData"])</p>
        <p id="LSChecked">@XConfig.Messages["LSSignCount"]  @XConfig.Messages["LoadingData"]</p>
        <p id="AHChecked">@XConfig.Messages["CHSignCount"]  @XConfig.Messages["LoadingData"]</p>
        <p id="CSChecked">@XConfig.Messages["CSSignCount"]  @XConfig.Messages["LoadingData"]</p>
        <hr />
    </div>

    <!--This is Function Choosing Part-->
    <p class="container">@XConfig.Messages["PleaseChooseFunctions"]</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-sm btn-success full-width" onClick="SignStudents('LS');">@XConfig.Messages["LSSigning"]</button>
            </div>
            <div class="col">
                <button class="btn btn-sm btn-info full-width" onClick="location.href='/BusManager/ArriveHomeScan'">@XConfig.Messages["AHScanCode"]</button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <button class="btn btn-sm btn-warning full-width" onClick="SignStudents('CS');">@XConfig.Messages["CHSigning"]</button>
            </div>
            <div class="col">
                <button class="btn btn-sm btn-danger full-width" onClick="SignStudents('CD');">@XConfig.Messages["ChangeData"]</button>
            </div>
        </div><br />
        <hr />
        <div class="container">
            <p>@XConfig.Messages["UrgentSituationReport"]</p>
            <button class="btn btn-outline-danger full-width" onclick="location.href = '/BusManager/WeekIssue'">@XConfig.Messages["UrgentSituationReport"]</button>
        </div>
        <br />
    </div>

</div>

<script>
    {
        var currentBus;
        $("#UserID").text("你好，" + wbWeb.CurrentUser.RealName);
        $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + wbWeb.CurrentUser.HeadImagePath);

        
        currentBus = wbWeb.GetMgmtBus();
        setCookie("CBusID", currentBus.Bus.ObjectId);
        $("#BusDirection").text("我的校车: " + currentBus.Bus.BusName);
        $("#ExpNumber").text("校车总人数: " + currentBus.Total + "人");
        $("#LSChecked").text("离校上车人数: " + currentBus.LSChecked + "人");
        $("#AHChecked").text("到家确认人数: " + currentBus.AHChecked + "人");
        $("#CSChecked").text("返校上车人数: " + currentBus.CSChecked + "人");


        function SignStudents(Mode) {
            setCookie("SignMode", Mode);
            location.href = "/BusManager/SignStudent/?signmode=" + Mode;
        }

        wx.ready(function () { wx.hideOptionMenu(); });
    }
</script>
