@{
    ViewData["Title"] = "学生签到";
    string SignMode = (string)ViewData["SignMode"];
}
<div class="container">
    <div class="container row">
        <div class="col col-auto">
            <img id="UserHImg" src="#" width="64" height="64" alt="" />
        </div>
        <div class="col">
            <h5 id="UserID">@XConfig.Messages["LoadingData"]</h5>
            <h6 id="BusDirection"></h6>
        </div>
    </div>
    <br />
    <div class="container">
        <p>@XConfig.Messages["DataBelowRefreshedIn20Sec"]</p>
        <p id="TimeoutLabel">@XConfig.Messages["RefreshTime"]20</p>
        @if (SignMode == "LS" || SignMode == "CD")
        {
            <p id="LSChecked">@XConfig.Messages["LSSignCount"]@XConfig.Messages["LoadingData"]</p>
        }
        @if (SignMode == "CS" || SignMode == "CD")
        {
            <p id="CSChecked">@XConfig.Messages["CSSignCount"]@XConfig.Messages["LoadingData"]</p>
        }
        <p id="ExpNumber">@XConfig.Messages["TotalStudents"]@XConfig.Messages["LoadingData"]</p>
    </div>
    <hr>
    <div id="Students" class="container" style="font-size: small"></div>
</div>

<script>
    {
        var SignMode = "@ViewData["SignMode"]";
        var CurrentBus = wbWeb.GetMgmtBus();
        var totalStudents = wbWeb.GetStudents(CurrentBus.Bus.ObjectId, wbWeb.CurrentUser.ObjectId);
        var BustimeoutHandle = setInterval(MotherFunction, 1000);
        document.getElementById("UserID").innerHTML = '@XConfig.Messages["HelloWithComma"]' + wbWeb.CurrentUser.RealName;
        $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + wbWeb.CurrentUser.HeadImagePath);

        $("#BusDirection").text('@XConfig.Messages["MySchoolbus"]' + CurrentBus.Bus.BusName);
        $("#ExpNumber").text('@XConfig.Messages["TotalStudents"]' + CurrentBus.Total + '@XConfig.Messages["Person"]');
        $("#LSChecked").text('@XConfig.Messages["LSSignCount"]' + CurrentBus.LSChecked + '@XConfig.Messages["Person"]');
        $("#AHChecked").text('@XConfig.Messages["CHSignCount"]' + CurrentBus.AHChecked + '@XConfig.Messages["Person"]');
        $("#CSChecked").text('@XConfig.Messages["CSSignCount"]' + CurrentBus.CSChecked + '@XConfig.Messages["Person"]');
        for (var i = 0; i < totalStudents.Count; i++) {
            var TMP = totalStudents.StudentList[i];

            var node = document.createElement("div");
            node.id = TMP.ObjectId;
            node.classList.add("row");
            var container = document.createElement("div");
            container.classList.add("col");
            var sub = document.createElement("span");
            sub.classList.add("text-underline")
            var _sub = document.createElement("a");
            _sub.href = "/BusManager/ViewStudent?StudentID={0}&ClassID={1}&from=BusManager&BusID={2}".format(TMP.ObjectId, TMP.ClassID, TMP.BusID);
            _sub.innerHTML = "<strong>" + TMP.StudentName + "</strong><br/><small><small>" + TMP.ObjectId + "</small></small>";
            sub.appendChild(_sub);
            container.appendChild(sub);
            node.appendChild(container);
            var sid = TMP.ObjectId;
            if (SignMode == "LS" || SignMode == "CD") {
                container = document.createElement("div");
                container.classList.add("col");
                sub = document.createElement("button");
                sub.id = TMP.ObjectId + "_Leave";
                sub.style.width = "100%";
                if (TMP.LSChecked) {
                    sub.classList.add("btn", "btn-success", "btn-sm");
                    sub.innerText = "@XConfig.Messages["Cancel"]";
                } else {
                    sub.classList.add("btn", "btn-danger", "btn-sm");
                    sub.innerText = "@XConfig.Messages["LeaveSchool"]";
                }
                sub.setAttribute("onclick", "Sign('" + sid + "', 'leave', '" + !TMP.LSChecked + "')");
                container.appendChild(sub);
                node.appendChild(container);
            }
            if (SignMode == "CS" || SignMode == "CD") {
                container = document.createElement("div");
                container.classList.add("col");
                sub = document.createElement("button");
                sub.id = TMP.ObjectId + "_Come";
                sub.style.width = "100%";
                if (TMP.CSChecked) {
                    sub.classList.add("btn", "btn-success", "btn-sm");
                    sub.innerText = "@XConfig.Messages["Cancel"]";
                } else {
                    sub.classList.add("btn", "btn-danger", "btn-sm");
                    sub.innerText = "@XConfig.Messages["BackSchool"]";
                }
                sub.setAttribute("onclick", "Sign('" + sid + "', 'come', '" + !TMP.CSChecked + "')");
                container.appendChild(sub);
                node.appendChild(container);
            }
            $("#Students").append(node);
            $("#Students").append("<hr/>")
        }

        var TOut = 0;
        function MotherFunction() {
            $("#TimeoutLabel").text('@XConfig.Messages["RefreshTime"]' + TOut);
            if (TOut === 0) {
                $("#TimeoutLabel").text('@XConfig.Messages["RefreshTime"]@XConfig.Messages["Refreshing"]');
                $("#LSChecked").text('@XConfig.Messages["LSSignCount"]@XConfig.Messages["LoadingData"]');
                $("#CSChecked").text('@XConfig.Messages["CSSignCount"]@XConfig.Messages["LoadingData"]');
                CurrentBus = wbWeb.GetMgmtBus();
                $("#LSChecked").text("@XConfig.Messages["LSSignCount"]" + CurrentBus.LSChecked);
                $("#CSChecked").text("@XConfig.Messages["CSSignCount"]" + CurrentBus.CSChecked);
                TOut = 20;
            }
            TOut--;
        }

        function Sign(StudentID, Mode, value)
        {
            var data = wbWeb.SignStudent(CurrentBus.Bus.ObjectId, StudentID, Mode, value);

            if (data.SignMode === "come")
            {
                var rst = data.Student.CSChecked;
                $("#" + data.Student.ObjectId + "_Come").attr("class", "btn " + (rst ? "btn-success " : "btn-danger ") + "btn-sm");
                $("#" + data.Student.ObjectId + "_Come").text(rst ? "@XConfig.Messages["Cancel"]" : "@XConfig.Messages["BackSchool"]");
                $("#" + data.Student.ObjectId + "_Come").attr("onclick", "Sign('" + data.Student.ObjectId + "', 'come', '" + !rst + "')");
            }
            else if (data.SignMode === "leave")
            {
                var rst = data.Student.LSChecked;
                $("#" + data.Student.ObjectId + "_Leave").attr("class", "btn " + (rst ? "btn-success " : "btn-danger ") + "btn-sm");
                $("#" + data.Student.ObjectId + "_Leave").text(rst ? "@XConfig.Messages["Cancel"]" : "@XConfig.Messages["LeaveSchool"]");
                $("#" + data.Student.ObjectId + "_Leave").attr("onclick", "Sign('" + data.Student.ObjectId + "', 'leave', '" + !rst + "')");
            }
        }


        function ViewStudent(StudentID)
        {
            location.href = "/BusManager/ViewStudent?StudentID=" + StudentID;
        }
    }
</script>

